<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block title %}{{ title | e if title else "BARC Plot" }}{% endblock %}</title>
  </head>
  <body>
    <div id="figs">
    {% for fig in figures %}
      <figure><img src="{{ fig }}" /></figure>
      <figcaption>{{ figures[fig] }}</figcaption>
    {% endfor %}
   </div>
   <div id="annotations">
   <dl>
    {% for note in annotations %}
      <dt>{{ note }}</dt>
      <dd>{{ annotations[note] }}</dd>
    {% endfor %}
   </dl>
   </div>
  </body>
</html>
